
body{
    background-color: #fac564;
}
.box{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/food.png) no-repeat;
    -webkit-background-size:100% 100% ;
    background-size:100% 100% ;
}
.top{
    padding: 1rem 0;
    font-weight: 800;
    color: #000;
    text-align: center;
}
.content{
    width: 101%;
    height: 30rem;
}
.app{
    margin: 0 auto;
    width: 90%;
    height: 20rem;
    overflow: hidden;
}
.pos ,.android{
    width: 100%;
    height: 3rem;
    background-color: floralwhite;
}
.content div{
    margin-bottom: 1.2rem;
    overflow: hidden;
}
.pos >div,.pos>span{
    display: inline-block;
}
.android >div,.android>span{
    display: inline-block;
}
.app img{
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.posxz,.androidxz{
    float: right;
    width: 6rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #C8C8A9;
    text-align: center;
    color: #ffffff;
}
span{
    height: 3rem;
    line-height: 3rem;
}
.phone,.but{
    text-align: center;
}
.down{
    margin: 0 auto;
    width: 13rem;
    height: 2rem;
    color: #ffffff;line-height: 2rem;
    background-color: #C8C8A9;border-radius: 1rem;
}
.phone input{
    color: #000;
    position: relative;
    padding-left:1.3rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: 1px solid  #6cbcec;
}
.phone img{
    position: absolute;
    z-index: 999;
    margin-top: 0.18rem;
    margin-left: 0.18rem;
    width: 1rem;height: 1.6rem;
}

.mb{
    position:absolute;
    top: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
    background-color: red;
    background:url("../img/this.png") no-repeat;
    -webkit-background-size: 20rem 35rem;
    background-size: 100% 100%;
    opacity: 0.9;
    filter:alpha(opacity=90);
}
.buton{
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #ffffff;
    background-color: red;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-top: 21rem;
    border-radius: 1rem;
}
.tishi{
    color: rgba(249,3,3,.7);
}