/*css初始化每个页面都要引入*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
audio, canvas, progress, video {
  display: inline-block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
b,strong {
  font-weight: inherit;
}
b,strong {
  font-weight: bolder;
}
h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}

figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
textarea {
  overflow: auto;
}
/*定义自己的字体*/
@font-face {
  /*起个名字*/
  font-family: 'icomoon';
  /*字体路径*/
  src: url('../fonts/icomoon.eot?kmd0k1');
  /*兼容处理*/
  src: url('../fonts/icomoon.eot?kmd0k1#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?kmd0k1') format('truetype'), url('../fonts/icomoon.woff?kmd0k1') format('woff'), url('../fonts/icomoon.svg?kmd0k1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (width: 411px) {
  html {
    font-size: 20.55px;
  }
}
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 32px;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, h2, h3, h4, h5, ul, dl, dt, dd, p {
  padding: 0;
  margin: 0;
}
body {
  background-color: PINK;
  font-family: roman, Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #f8f8f8;
}
h2, h3, h4, h5 {  font-weight: bold;}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
